body{
    background-repeat: no-repeat;
    background-size: cover;
    padding:20px;
}
body.dark{
    color: #eee;
}

body.light{
    color: #222;
}

input[type='file']{
    display:inline-block;
}

form{
    padding-top:20px;
}

.process{
    margin-top:10px;
}